In [ ]:
pip install pandas

In [16]:
list=[10,56,87,90,34,23,12,58]
d=pd.Series(list)
print(d)

0    10
1    56
2    87
3    90
4    34
5    23
6    12
7    58
dtype: int64

In [19]:
dict={"physics":95,
     "chemistry":96,
     "math":91}
d=pd.Series(dict)
print(d)
d["physics"]

physics      95
chemistry    96
math         91
dtype: int64

95

In [27]:
e={"USA":1,"Germany":1,"Japan":4}
print(e["Japan"])

4

In [26]:
from numpy.random import(randn)
x=np.random.seed(202)

In [30]:
df=pd.DataFrame(randn(5,4),index="A B C D E".split(),columns='W X Y Z'.split())
print(df)

          W         X         Y         Z
A -1.790209 -0.292157 -0.331039  0.809957
B -1.130349 -0.387018 -0.073094 -0.191489
C  0.069849 -0.941902 -0.729284 -0.155633
D  2.163578 -0.055617 -1.175500 -0.556433
E  0.617155  1.107772  0.112114  0.891698

In [40]:
df.drop('A',axis=0)

          W         X         Y         Z
B -1.130349 -0.387018 -0.073094 -0.191489
C  0.069849 -0.941902 -0.729284 -0.155633
D  2.163578 -0.055617 -1.175500 -0.556433
E  0.617155  1.107772  0.112114  0.891698

In [42]:
df['new']=df['W']+df['X']
print(df)

          W         X         Y         Z       new
A -1.790209 -0.292157 -0.331039  0.809957 -2.082366
B -1.130349 -0.387018 -0.073094 -0.191489 -1.517367
C  0.069849 -0.941902 -0.729284 -0.155633 -0.872053
D  2.163578 -0.055617 -1.175500 -0.556433  2.107961
E  0.617155  1.107772  0.112114  0.891698  1.724927

In [49]:
df.iloc[3]

W      2.163578
X     -0.055617
Y     -1.175500
Z     -0.556433
new    2.107961
Name: D, dtype: float64

In [51]:
df[df['W']>0]

          W         X         Y         Z       new
C  0.069849 -0.941902 -0.729284 -0.155633 -0.872053
D  2.163578 -0.055617 -1.175500 -0.556433  2.107961
E  0.617155  1.107772  0.112114  0.891698  1.724927

In [52]:
df[df['W']>0]['Y']

C   -0.729284
D   -1.175500
E    0.112114
Name: Y, dtype: float64

In [56]:
df[df['W']>0]['Y']

C   -0.729284
D   -1.175500
E    0.112114
Name: Y, dtype: float64

In [60]:
df[df['W']>0 & (df['Y']<1)]

          W         X         Y         Z       new
C  0.069849 -0.941902 -0.729284 -0.155633 -0.872053
D  2.163578 -0.055617 -1.175500 -0.556433  2.107961
E  0.617155  1.107772  0.112114  0.891698  1.724927