General Python Programming

In [1]:
a='akshay'
b='ravi'
print("{} and {} are best friends".format(a,b))

akshay and ravi are best friends

In [2]:
a=["akshay",'aakash','raju',"rajesh"]

def fun(a):
    for i in a:
        if i[0]=="a":
            return True
        else:
            return False
    
b=filter(fun,a)

for i in b:
    print(i)

akshay
aakash

In [3]:
a=1345776
num=a
fum=0
while(num>0):
    c=num%10
    fum=fum*10+c
    num=int(num/10)
    
fum

6775431

In [4]:
a=[3,4,5,6,7,8,9]
d=len(a)
e=set()
for i in range(d):
    for j in range(d):
        if(a[i]+a[j]==9):
            e.add(i)
            e.add(j)

In [5]:
e

{0, 1, 2, 3}

In [6]:
import numpy as np
b=np.random.randint(1,9)
print(b)

6

In [7]:
ord("j")

106

In [8]:
chr(97)

'a'

In [9]:
def shout(text):
    return text.upper()
 
print(shout('Hello'))
 
yell = shout
 
print(yell('Hello'))

HELLO
HELLO

In [10]:
#decorator in python-->is a function used to modify an existing function

def decor(fun):
    def inner():
#         print("IF Before")
        fun()
        print('IF After')
    return inner

def num():
    print("hello akshay")
    print("hello aditi")
    
d=decor(num)
d()

hello akshay
hello aditi
IF After

In [11]:
try:
    a=10
    b=int(input("Enter any number: "))
    c=a/b
    print(c)
    
    r=[1,2,3,4,5]
    print(r[8])

except ZeroDivisionError:
    print("Denominator cannot be 0.")
    
except IndexError:
    print("Index Out of Bound.")

Enter any number: 9999
0.001000100010001
Index Out of Bound.

### Why is assert function used for?
### Use the assert() function to identify program logic errors

In [13]:
try:
    b=int(input("Enter any number: "))
    assert b%2==0
except:
    print("not a even number")
else:
    d=10/b
    print(d)

Enter any number: 7
not a even number

In [14]:
# In Python, the finally block is always executed no matter whether there is an exception or not.
try:
    b=int(input("Enter any number: "))
    assert b%2==0
except:
    print("not a even number")
finally:
    print("This is finally block.")

Enter any number:
not a even number
This is finally block.

In [64]:
# The raise statement allows the programmer to force a specific exception to occur. 
try: 
    raise NameError("Hi there")  # Raise Error
except NameError:
    print ("An exception")
    raise
    # To determine whether the exception was raised or not

An exception

NameError: Hi there

In [16]:
#Instance is an object that belongs to a class
class Employee:
   'Common base class for all employees'
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print ("Total Employee %d" % Employee.empCount)

   def displayEmployee(self):
      print ("Name : ", self.name,  ", Salary: ", self.salary)
        
d=Employee("ravi",89.00)
d=Employee("raju",89.00)
d.displayCount()

Total Employee 2

In [17]:
a=6
for i in range(a+1):
    for j in range(i):
        print("*",end=" ")
#         a-=a
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [18]:
a=6
for i in range(a):
    for j in range(a-i):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [19]:
a=5
b=5
for i in range(a):
    for j in range(b):
       if (i==0 or i==a-1 or j==0 or j==b-1):
           print("*",end=" ")
       else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [20]:
a=5
b=5
for i in range(a):
    for j in range(b):
       if (i==0 or i==a-1 or j==0 or j==b-1 or i==j):
           print("*",end=" ")
       else:
            print(" ",end=" ")
    print()

* * * * *
* *     *
*   *   *
*     * *
* * * * *

In [21]:
a=5
b=5
for i in range(a):
    for j in range(b):
       if (i==a-1 or j==0  or i==j):
           print("*",end=" ")
       else:
            print(" ",end=" ")
    print()

*
* *
*   *
*     *
* * * * *

In [22]:
a=5
b=5
for i in range(a):
    for j in range(b):
       if (i==0  or j==b-1 or i==j):
           print("*",end=" ")
       else:
            print(" ",end=" ")
    print()

* * * * *
  *     *
    *   *
      * *
        *

In [23]:
a=9
for i in range(a):
    for j in range(0,a-i-1):
        print(" ",end=" ")
    for j in range(a-i-1,a):
        print("*",end=" ")
    print()

                *
              * *
            * * *
          * * * *
        * * * * *
      * * * * * *
    * * * * * * *
  * * * * * * * *
* * * * * * * * *

In [24]:
a=9
for i in range(a):
    for j in range(0,i):
        print(" ",end=" ")
    for j in range(i,a):
        print("*",end=" ")
    print()

* * * * * * * * *
  * * * * * * * *
    * * * * * * *
      * * * * * *
        * * * * *
          * * * *
            * * *
              * *
                *

In [29]:
n=10
for i in range(0, n):
    for j in range(0, n-i):
        print(end=" ")
    for j in range(0, i+1):
        print("* ", end="")
    print()

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [34]:
d=9
for i in range(4):
    for j in range(0,i):
        print(" ",end=" ")
    for j in range(i,4):
        print(d ,end=" ")
        d=d-1
    print()

9 8 7 6
  5 4 3
    2 1
      0

In [59]:
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5 
for i in range(0,7):
    a=1
    for j in range(0,i+1):
        print(a,end=" ")
        a=a+1 
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [61]:
a=0
for i in range(7):
    for j in range(i+1):
        print(a,end=" ")
        a+=1 
    print()

0
1 2
3 4 5
6 7 8 9
10 11 12 13 14
15 16 17 18 19 20
21 22 23 24 25 26 27

In [62]:
for i in range(0,7):
    a=65
    for j in range(0,i+1):
        print(chr(a),end=" ")
        a=a+1 
    print()

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G

In [64]:
a=65
for i in range(6):
    for j in range(i+1):
        print(chr(a),end=" ")
        a+=1 
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [1]:
a="5"
b="5"
print(a+b)

55

In [10]:
#  factorial of a number 
def fun(num):
    if num==0 or num==1:
        return 1
    else:
        return num*fun(num-1)
    
fun(4)

24

In [40]:
a=int(input("Enter a number to check if it is a armstrong number or not: "))
num=a
cube=0
while(num>0):
      rem=num%10
#       print(num)
      num=int(num/10)
      cube=cube+(rem*rem*rem)
        
print(cube)
if(a==cube):
    print("Yes it is a armstrong number")
else:
    print("No")

Enter a number to check if it is a armstrong number or not: 371
371
Yes it is a armstrong number

In [63]:
# // reverse a string word by word
a=" I am a string that can be used to reverse"
b=len(a)
j=b
k=b-1
for i in range(b-1,-1,-1):
    if (a[i]==" "):
        k=i
        print(a[k:j],end="")
        j=k

 reverse to used be can that string a am I

In [20]:
size=50
for i in range(0,int(size/2)):
    for j in range(0,i+1):
        print("*",end=" ")
    print()
for i in range(int(size/2)+1,size+1):
    for j in range(0,size-i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [23]:

o=0
l=9
swap(o,l)
print(o,l)
l=[3,4,6,5,3,2,4,5,7,8,5]
for i in range(0,len(l)):
    for j in range(0,len(l)-1):
        if(l[j]>l[i]):
            swap(l[j],l[i])

0 9

In [22]:
l

[3, 4, 6, 5, 3, 2, 4, 5, 7, 8, 5]

In [10]:
l=[1,4,2,56,7,7]
d=[12,3,5,3,4,5]
s=[]
for i in range(0,len(l)):
    if(i%2==0):
        s.append(l[i])
for j in range(0,len(d)):
    if(j%2==1):
        s.append(d[j])
s

[1, 2, 7, 3, 3, 5]

In [17]:
l=[1,4,2,56,7,7]
d=[12,3,5,3,4,5]
s=[]
e=l[0::2]
f=d[1::2]
s.extend(e)
s.extend(f)

In [18]:
s

[1, 2, 7, 3, 3, 5]

In [10]:
l=[1,2,3,4,5,6,7,8,9,10,11,12]
a=l[0:8:3]
# a.reverse()
# b=l[4:8]
# b.reverse()
# c=l[8:12]
# c.reverse()
# print(a)
# print(b)
# print(c)

In [11]:
print(a)

[1, 4, 7]

In [39]:
l=[1,2,3,4,5,6,3,8,3,3,11,12]
a=int(input("Enter the number whose occurence you want to check: "))
c=0

for i in range(0,len(l)):
    if(l[i]==a):
        c=c+1

print(c)

Enter the number whose occurence you want to check: 13
0

In [1]:
l=[1,2,3,4,5,6,3,8,3,3,11,12]
count=dict()
print(count)
for item in l:
    if item in count:
        count[item] +=1
    else:
        count[item]=1

{}
1
2
3
4
5
6
3
8
3
3
11
12

In [42]:
count

{1: 1, 2: 1, 3: 4, 4: 1, 5: 1, 6: 1, 8: 1, 11: 1, 12: 1}

In [2]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
b=int(len(l)/3)
c=b-1
lis = [[]] * c
print(lis[0])
start=0
end=b
for i in range(0,c):
    while(end<=len(l)):
        lis[i].append(l[start:end])
        start=start+4
        end=end+4
print(lis[0])
print(lis[1])

[]
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [5]:
sum=0
for i in range(1,102):
    sum=sum+i
print(sum)

5151

In [20]:
import numpy as np

1

C:\Users\kshyk\AppData\Local\Temp\ipykernel_2388\75146264.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr=np.array([[42],[32,45]])

In [7]:
a=" i am a string that can be used to reverse"
b=len(a)
k=b
j=b
for i in range(b-1,-1,-1):
    if(a[i]==" "):
        k=i
        print(a[k:j],end=" ")
        j=k

 reverse  to  used  be  can  that  string  a  am  i

In [19]:
class MyClass:
    def printVar(self,x):
        print("The value of x is",x)
    
p=MyClass()
p.printVar(5)

The value of x is 5

In [21]:
def __init__(self):
    # body of the constructor
    pass

In [23]:
class Person:
    def __init__(self,name,age): # constructor used to initialize variables
        self.name = name
        self.age = age
        
p1=Person("Akshay",21)
print(p1.name)
print(p1.age)

Akshay
21

In [33]:
class Person:
    def __init__(self,name,age): # constructor used to initialize variables
        self.name = name
        self.age = age
    
    def __str__(self):
        return "{}'s age is {}".format(self.name,self.age)
        
p1=Person("Akshay",21)

print(p1)

Akshay's age is 21

In [3]:
a=[9,2,3,34,5,6,75,34,32,12,67,43,32,45,68,90,12,11,32,33,89,70,67,68,83]
b=int(input("Enter the number to be searched: "))
for i in range(0,len(a)):
    if(b==a[i]):
        print(i)

Enter the number to be searched: 32
8
12
18

In [6]:
a=int(input("Enter value of a: "))
b=int(input("Enter value of b: "))
for i in range(0,a):
    for j in range(0,b):
        print('*',end=' ')
    print()

Enter value of a: 5
Enter value of b: 6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [10]:
a=int(input("Enter the number to be checked for armstrong number"))
cube=0
num=a
while(num>0):
    rem=num%10
    num=int(num/10)
    cube=cube+rem*rem*rem
    
if(cube==a):
    print("Entered Number is a Armstrong Number")
else:
    print("Entered Number is not a Armstrong Number")

Enter the number to be checked for armstrong number153
Entered Number is a Armstrong Number

In [35]:
a=input("Enter your string :")
b=len(a)
c=int(b/2)
print(c)
k=b-1
d=0
for i in range(c+1):
    if(a[i]==a[k]):
        d+=1
        k-=1
print(d)
if(d==c+1):
    print("The given string is a palindrom")
else:
    print("The given string is not a palindrom")

Enter your string :aabbaabbaa
5
6
The given string is a palindrom

In [7]:
a=[12,13,14,15,16]
b=[2,3,4,5,6]
d=tuple(zip(a,b))
print(d)

((12, 2), (13, 3), (14, 4), (15, 5), (16, 6))

In [58]:
a=[2,1,4,9,6,5]
print(type(a))
a.sort()
print(a)

<class 'list'>
[1, 2, 4, 5, 6, 9]

In [67]:
print(a)
a.index(5)

[1, 2, 4, 5, 6, 9, 5, 5, 5, 5]

3

In [68]:
max(a)

9

In [69]:
min(a)

1

In [71]:
a.clear()
print(a)

[]

In [72]:
a=[2,1,4,9,6,5]
b=[1,4,2,6,5]
a.extend(b)

In [73]:
a

[2, 1, 4, 9, 6, 5, 1, 4, 2, 6, 5]

In [76]:
a.insert(7,54)

In [77]:
a

[2, 1, 4, 9, 6, 5, 1, 54, 4, 2, 6, 5, 7]

In [78]:
a.pop(2) # pop takes index as argument

4

In [80]:
a.remove(54) # remove take value as argument

In [81]:
a

[2, 1, 9, 6, 5, 1, 4, 2, 6, 5, 7]

In [20]:
def addition(n):
    yield n * 2
    yield n * 3
    yield n * 4
  
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
for i in list(result):
    print(list(i))

[2, 3, 4]
[4, 6, 8]
[6, 9, 12]
[8, 12, 16]

In [21]:
def addition(n):
    yield n * 2
    yield n * 3
    yield n * 4

# def addition(n):
#     return n * 2
#     return n * 3
#     return n * 4

list(addition(9))

[18, 27, 36]

In [15]:
# map function kisi datastructure ke sare elements ko iterate karta hai or unpe function chalata hai
def factorial(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*factorial(n-1)    
    
num=[1,2,3,4]
result=map(factorial,num)
print(list(result))

[1, 2, 6, 24]

In [5]:
# lambda function can take as many argument as it want but only one expression
add = lambda x: x*x*x

In [7]:
d=[12,13,14,15,16]
e=map(add,d)

In [10]:
print(list(e))

[1728, 2197, 2744, 3375, 4096]

In [13]:
d=[12,13,14,15,16]
d.sort(reverse=True)
d

[16, 15, 14, 13, 12]

In [29]:
# A generator-function is defined like a normal function, but whenever it needs to generate a value, 
# it does so with the yield keyword rather than return

# If the body of a def contains yield, the function automatically becomes a generator function.

def gen(num):
    for i in range(num):
        yield i
    
g=gen(7)
print(g.__next__())
print(g.__next__())
print(g.__next__())
print(g.__next__())
print(g.__next__())
print(g.__next__())
print(g.__next__())

0
1
2
3
4
5
6

In [3]:
d={}
d[5] = "Five"
d[10] = "Ten"
print("Dictionary", d)

Dictionary {5: 'Five', 10: 'Ten'}

In [42]:
a=int(input('Enter Year:'))
if(a%4==0 or a%400==0):
    print('The Year is a leap Year')
else:
    print('It is not a leap year')

Enter Year:2004
It is not a leap year

In [40]:
year = int(input("Enter Year:"))

if (year % 400 == 0) and (year % 100 == 0):
    print("{} is a leap year".format(year))

elif (year % 4 ==0) and (year % 100 != 0):
    print("{} is a leap year".format(year))

else:
    print("{} is not a leap year".format(year))

Enter Year:1900
1900 is not a leap year

In [4]:
for i in range(1,10):
    if(i==6):
        continue
    else:
        print(i)

1
2
3
4
5
7
8
9

In [5]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [32]:
a=pow(4,3)
print(a)

64

In [30]:
a=int(input("Enter Input:"))
num=a
l=[]
while(num>0):
    rem=num%2
    l.append(str(rem))
    num=int(num/2)
l.reverse()
print("".join(l))

Enter Input:29
11101

In [35]:
temp = 10 
def func():
     global temp
     temp = 20
     print(temp)
print(temp)
func()
print(temp)

10
20
20

In [38]:
import pickle
EmpID = {1:"Zack",
         2:"53050",
         3:"IT",
         4:"38",
         5:"Flipkart"}
pickling_on = open("EmpID.pickle","wb")
pickle.dump(EmpID, pickling_on)
pickling_on.close()

In [39]:
import pickle
pickle_off = open("EmpID.pickle", 'rb')
EmpID = pickle.load(pickle_off)
print(EmpID)

{1: 'Zack', 2: '53050', 3: 'IT', 4: '38', 5: 'Flipkart'}

In [41]:
l=[1,2,3,[2,3,4,[4,5,6]]]
print(l[3][3][1])

5

In [69]:
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
for i in a:
   for j in i:
    print(j)

2
4
6
8
10
3
6
9
12
15
4
8
12
16
20

In [49]:
chr(65)

'A'

In [64]:
def swap(a,b):
    a,b=b,a
    return a,b

x=10
y=20
print("xb",x)
print("yb",y)
swap(x,y)
print("xa",x)
print("ya",y)

xb 10
yb 20
xa 10
ya 20

In [30]:
def swap(x,y): 
    print("Before swapping a :",x)
    print("Before swapping b :",y)
    #logic to swap without using third variable 
    x,y=y,x
    return x,y

a=int(input("Enter value : "))
b=int(input("Enter value : "))  

a,b=swap(a,b) 
print("After swapping a becomes :",a)
print("After swapping b becomes :",b)

Enter value : 6
Enter value : 7
Before swapping a : 6
Before swapping b : 7
After swapping a becomes : 7
After swapping b becomes : 6

In [17]:
x = 5
y = 10

x, y = y, x
print("x =", x)
print("y =", y)

x = 10
y = 5

In [14]:
def fib(n):
    if(n <= 1):
        return n
    else:
        return fib(n-1) + fib(n-2)

In [15]:
for i in range(20):
    print(fib(i),end=' ')

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [10]:
def factorial(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*factorial(n-1)

In [13]:
factorial(3)

6

In [19]:
def mul(n):
    return n*6
l=[1,2,3,4,5]
d=map(mul,l)
for i in d:
    print(i)

6
12
18
24
30

In [22]:
def fibo(n):
    if(n<=1):
        return 1
    else:
        return fibo(n-1)+fibo(n-2)
fibo(8)

34

In [15]:
lis1=['akshay','ravi','raju','rajesh','aakash','sonali','aditi']
def fil(lis):
    for i in lis:
        if(i[0]=='a'):
            return True
        else:
            return False
f=filter(fil,lis1)
for i in f:
    print(i)

akshay
aakash
aditi

In [23]:
a=1020101
b=str(a)
print(b[::-1])

1010201

In [29]:
try:
    a=20
    b=int(input("Enter Any Number:"))
    c=a/b
    print(c)
except:
    print('Error Occured')
finally:
    print('This code always run')

Enter Any Number:7
2.857142857142857
This code always run

In [31]:
n=60
for i in range(0,n):
    for j in range(0,n-i):
        print(end=" ")
    for j in range(0,i+1):
        print("* ",end="")
    print()

                                                            *
                                                           * *
                                                          * * *
                                                         * * * *
                                                        * * * * *
                                                       * * * * * *
                                                      * * * * * * *
                                                     * * * * * * * *
                                                    * * * * * * * * *
                                                   * * * * * * * * * *
                                                  * * * * * * * * * * *
                                                 * * * * * * * * * * * *
                                                * * * * * * * * * * * * *
                                               * * * * * * * * * * * * * *
                                              * * * * * * * * * * * * * * *
                                             * * * * * * * * * * * * * * * *
                                            * * * * * * * * * * * * * * * * *
                                           * * * * * * * * * * * * * * * * * *
                                          * * * * * * * * * * * * * * * * * * *
                                         * * * * * * * * * * * * * * * * * * * *
                                        * * * * * * * * * * * * * * * * * * * * *
                                       * * * * * * * * * * * * * * * * * * * * * *
                                      * * * * * * * * * * * * * * * * * * * * * * *
                                     * * * * * * * * * * * * * * * * * * * * * * * *
                                    * * * * * * * * * * * * * * * * * * * * * * * * *
                                   * * * * * * * * * * * * * * * * * * * * * * * * * *
                                  * * * * * * * * * * * * * * * * * * * * * * * * * * *
                                 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                                * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                               * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                              * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                           * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                          * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                         * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                        * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                       * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                      * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                     * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
               * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
              * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
           * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
         * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
       * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [32]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("John", "Doe")
x.printname()

John Doe

In [33]:
class Akshay:
    def __init__(self,name,age):
        self.nname=name
        self.nage=age
    def prin(self):
        print(self.nname,self.nage)

In [37]:
aksh=Akshay('akshay',20)
aksh.prin()

akshay 20

In [44]:
class Student(Akshay):
  pass

In [45]:
A=Student('Aks1',67)
A.prin()

Aks1 67

In [54]:
a=(1,2,3,4,5,6,7)
b=iter(a)
print(next(b))
print(next(b))
print(next(b))

1
2
3

In [50]:
mytuple = ("apple", "banana", "cherry")
# print(type(mytuple))
myit = iter(mytuple)

# print(next(myit))
# print(next(myit))
# print(next(myit))

<class 'tuple'>

In [59]:
try:
    a=20
    b=int(input("Enter Any Number:"))
    c=a/b
    print(c)
    list=[1,2,3,4,5,6]
    print(list[6])
except ZeroDivisionError:
    print("ZeroDivisionError Occurred and Handled")
except NameError:
    print("NameError Occurred and Handled")
except IndexError:
    print("Index Error Occured")

Enter Any Number:8
2.5
Index Error Occured

In [67]:
a=int(input("Enter A:"))
b=int(input("Enter B:"))
try:
    c = ((a+b) / (a-b))
except ZeroDivisionError:
    print ("Error")
else:
    print (c)

Enter A:8
Enter B:9
-17.0

In [75]:
a=19
for i in range(0,int(a/2)):
    for j in range(0,i+1):
        print("*",end='')
    print()
for i in range(int(a/2),a):
    for j in range(0,a-i):
        print("*",end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [101]:
a=" String that is used to reverse"
b=len(a)
k=b-1
j=b-1
for i in range(b-1,-1,-1):
    if(a[i]==' '):
        k=i
        print(a[k:j],end='')
        j=k

 revers to used is that String

In [12]:
a='ABCDEFBCD'
b='BCD'
c=a.count(b)

2

In [51]:
a=input("Enter a string:")
c=list(a)
dict={}
for i in a:
    if i in dict:
        dict[i]+=1
    else:
        dict[i]=1
print(dict)

Enter a string:aaaabbbbaaabbbcccccddddddeeee
{'a': 7, 'b': 7, 'c': 5, 'd': 6, 'e': 4}

In [52]:
b=list(dict.keys())
b

['a', 'b', 'c', 'd', 'e']

In [53]:
c=list(dict.values())
c

[7, 7, 5, 6, 4]

In [54]:
e=zip(a,c)
lis=[]

In [55]:
for i in range(0,len(b)):
    print(b[i],c[i])

a 7
b 7
c 5
d 6
e 4

In [68]:
ord('Z')

90

In [60]:
ord('z')

122

In [1]:
import random
import numpy as np

In [60]:
a=random.randint(0,100)

NameError: name 'random' is not defined

In [23]:
a

49

In [28]:
c=np.linspace(0,10,6)

In [29]:
c

array([ 0.,  2.,  4.,  6.,  8., 10.])

In [30]:
a=[1,2,3,4,5,6,7,8]
d=np.ndarray(a)

In [34]:
d=np.arange(0,100,5)
d

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80,
       85, 90, 95])

In [38]:
x = random.rand()

AttributeError: module 'random' has no attribute 'rand'

In [4]:
def rec(n):
    if n==1 or n==0:
        return 1
    else:
        return n*rec(n-1)
    
rec(3)

6

In [7]:
for i in range(0,6):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [13]:
for i in range(0,6):
    for j in range(0,6-i):
        print(" ",end="")
    for j in range(6-i,6):
        print("*",end="")
    print()

    *
   **
  ***
 ****
*****

In [26]:
for i in range(0,7):
    for j in range(0,7):
        if i==0 or i==6 or j==0 or j==6 or i&j==3:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * * * *
*           *
*           *
*     *     *
*           *
*           *
* * * * * * *

In [29]:
k=10
for i in range(0,5):
    for j in range(0,i+1):
        print(" ",end=" ")
    for j in range(i+1,5):
        print(k,end=" ")
        k=k-1
    print()

  10 9 8 7
    6 5 4
      3 2
        1

In [32]:
for i in range(0,6):
    d=1
    for j in range(0,i+1):
        print(d,end=' ')
        d+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [33]:
for i in range(0,6):
    d=1
    for j in range(0,i+1):
        print(d,end=' ')
        d+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [45]:
n=9
for i in range(0,n):
    for j in range(0,n-i):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [42]:
n=60
for i in range(0,n):
    for j in range(0,n-i):
        print(end=" ")
    for j in range(0,i+1):
        print("* ",end="")
    print()

                                                            *
                                                           * *
                                                          * * *
                                                         * * * *
                                                        * * * * *
                                                       * * * * * *
                                                      * * * * * * *
                                                     * * * * * * * *
                                                    * * * * * * * * *
                                                   * * * * * * * * * *
                                                  * * * * * * * * * * *
                                                 * * * * * * * * * * * *
                                                * * * * * * * * * * * * *
                                               * * * * * * * * * * * * * *
                                              * * * * * * * * * * * * * * *
                                             * * * * * * * * * * * * * * * *
                                            * * * * * * * * * * * * * * * * *
                                           * * * * * * * * * * * * * * * * * *
                                          * * * * * * * * * * * * * * * * * * *
                                         * * * * * * * * * * * * * * * * * * * *
                                        * * * * * * * * * * * * * * * * * * * * *
                                       * * * * * * * * * * * * * * * * * * * * * *
                                      * * * * * * * * * * * * * * * * * * * * * * *
                                     * * * * * * * * * * * * * * * * * * * * * * * *
                                    * * * * * * * * * * * * * * * * * * * * * * * * *
                                   * * * * * * * * * * * * * * * * * * * * * * * * * *
                                  * * * * * * * * * * * * * * * * * * * * * * * * * * *
                                 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                                * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                               * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                              * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                           * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                          * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                         * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                        * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                       * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                      * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                     * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
               * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
              * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
           * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
         * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
       * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [49]:
stri=" I am a string to reverse word by word"
d=len(stri)
j=d
for i in range(d-1,-1,-1):
    if(stri[i]==" "):
        k=i
        print(stri[k:j],end="")
        j=k

 word by word reverse to string a am I

In [51]:
def fibo(n):
    if(n<=1):
        return 1
    else:
        return fibo(n-1)+fibo(n-2)

In [55]:
for i in range(0,10):
    print(fibo(i),end=' ')

1 1 2 3 5 8 13 21 34 55

In [61]:
a=[1,2,3,4,5,6,7,8,9,1,2,3]
dict={}
for i in a:
    if i in dict:
        dict[i]+=1
    else:
        dict[i]=1
print(dict)

{1: 2, 2: 2, 3: 2, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1}

In [64]:
def num(n):
    return n*n
a=[1,2,3,4,6]
d=map(num,a)
for i in d:
    print(i)

1
4
9
16
36

In [72]:
def gen(n):
    for i in range(n):
        yield i
g=gen(6)
print(g.__next__())
print(g.__next__())
print(g.__next__())
print(g.__next__())

0
1
2
3

In [76]:
d=["akshay","ravi","aakash","rajesh","ranu"]
def fil(e):
    for i in e:
        if(i[0]=="a"):
            return True
        else:
            return False
d=filter(fil,d)
for i in d:
    print(i)

akshay
aakash

In [77]:
import numpy as np

In [78]:
import random

In [82]:
d=random.randint(0,100)
print(d)

59

In [87]:
d=np.linspace(0,1000,10)
print(d)

[   0.          111.11111111  222.22222222  333.33333333  444.44444444
  555.55555556  666.66666667  777.77777778  888.88888889 1000.        ]

In [24]:
a=[2,4,6,8,4,5]
b=[2,4,1,8,7,6]
c=set(a)
d=set(b)
e=[]
for i in c:
    for j in d:
        if i==j:
            e.append(i)
            break
print(e)

[2, 4, 6, 8]

In [35]:
n=int(input('Enter a numer: '))
for i in range(0,n+n-1):
    for j in range(0,n+n-1):
        if(i==0 or i==n+n-2 or j==0 or j==n+n-2):
            print(n,end=' ')
        elif(i==1 or i==n+n-3 or j==1 or j==n+n-3):
            print(n-1,end=' ')  
        elif(i==2 or i==n+n-4 or j==2 or j==n+n-4):
            print(n-2,end=' ')
        elif(i==3 or i==n+n-5 or j==3 or j==n+n-5):
            print(n-3,end=' ') 
        elif(i==4 or i==n+n-6 or j==4 or j==n+n-6):
            print(n-4,end=' ') 
        elif(i==5 or i==n+n-7 or j==5 or j==n+n-7):
            print(n-5,end=' ') 
        elif(i==6 or i==n+n-8 or j==6 or j==n+n-8):
            print(n-6,end=' ')
        elif(i==7 or i==n+n-9 or j==7 or j==n+n-9):
            print(n-7,end=' ') 
        elif(i==8 or i==n+n-10 or j==8 or j==n+n-10):
            print(n-8,end=' ')
        else:
            print(n-9,end=' ')
    print()

Enter a numer: 9
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9
9 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 9
9 8 7 7 7 7 7 7 7 7 7 7 7 7 7 8 9
9 8 7 6 6 6 6 6 6 6 6 6 6 6 7 8 9
9 8 7 6 5 5 5 5 5 5 5 5 5 6 7 8 9
9 8 7 6 5 4 4 4 4 4 4 4 5 6 7 8 9
9 8 7 6 5 4 3 3 3 3 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 2 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 1 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 2 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 3 3 3 3 4 5 6 7 8 9
9 8 7 6 5 4 4 4 4 4 4 4 5 6 7 8 9
9 8 7 6 5 5 5 5 5 5 5 5 5 6 7 8 9
9 8 7 6 6 6 6 6 6 6 6 6 6 6 7 8 9
9 8 7 7 7 7 7 7 7 7 7 7 7 7 7 8 9
9 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 9
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9

In [40]:
r=1
for i in range(0,5):
    for j in range(0,5-i):
        print(r,end=' ')
    r+=1
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [77]:
for i in range(0,5):
    for j in range(0,i+1):
        print(i+1,end=' ') 
        i-=1
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [83]:
i=6
for i in range(1,i):
    for j in range(i, 0, -1):
        print(j, end='')
    print('')

1
21
321
4321
54321

In [3]:
for i in range(0,18):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17

In [4]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)

In [9]:
def fibo(n):
    if n==0 or n==1:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)

In [16]:
for i in range(10):
    print(fibo(i),end=' ')

1 1 2 3 5 8 13 21 34 55

In [20]:
ord('a')

97

In [23]:
chr(97)

'a'

In [43]:
def geb():
    for i in range(5):
        yield(i)

In [47]:
# destructer is used to modify existing function

0

In [57]:

# A Python program to demonstrate use of
# generator object with next()
 
# A generator function
def simpleGeneratorFun(n):
    for i in range(n):
        yield(i)
# x is a generator object
x = simpleGeneratorFun(100)
 
# Iterating over the generator object using next
print(next(x)) 
print(next(x))
print(next(x))
print(next(x)) 
print(next(x))
print(next(x))
print(next(x)) 
print(next(x))
print(next(x))
print(next(x)) 
print(next(x))
print(next(x))
print(next(x)) 
print(next(x))
print(next(x))
print(next(x)) 
print(next(x))
print(next(x))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [61]:
x=lambda a,b,y:a*b/y
print(x(6,5,8))

3.75

In [62]:
import pandas as pd

In [63]:
import numpy as np

In [64]:
import random

In [76]:
x=random.randint(0,7)
print(x)

4

In [83]:
# only lambda function can be defined inside a loop
for i in range(5):
    x=lambda i:i*i
    print(x(i))

0
1
4
9
16

In [82]:
# Decorators are a very powerful and useful tool in Python since it allows programmers to modify the behaviour of a function 
# or class

In [ ]:
str='I am a string that you can use to modify'
d=len(str)
for i in range(d,-1,-1):
    if str[i]==' ':