In [1]:
# A set is a collection which is both unordered and unindexed
# Once a set is created, you cannot change its items,but you can add new items
# Sets cannot have duplicate values
#8.There is no index attached to any element in a python set.So they do not support any indexing or slicing operation

In [2]:
a={1,2,45,2,4,"banana",5,4,True,56}
print(a)
print(type(a))

{1, 2, 4, 5, 'banana', 56, 45}
<class 'set'>

In [3]:
#-> empty set
b={} #-->worng way,print dictionary
print(type(b))

<class 'dict'>

In [4]:
c=set() #set()->set constructor 
print(type(c))
c.add(4)
c.add(5)
# c.add([3,5,4]) -->you can,t add list to the set because it is unhashable
c.add((3,2,8,4)) #-->you can add tuple
# c.add({4:5}) you also cant add dict to set because it is also unhashable
print(c)

<class 'set'>
{(3, 2, 8, 4), 4, 5}

In [6]:
#. creating set using set constructor

d=set((1,4,7,2,'banana',45))  # note the double round-brackets
print(d)



#.remove functiom
# d.remove(4,7) #.doesn,t work with two or more arguments
d.remove(4)
print(d)

{1, 2, 4, 7, 45, 'banana'}
{1, 2, 7, 45, 'banana'}

In [7]:
#. len function
print(len(d))

5

In [8]:
x = {"f", "e", "d", "c", "b", "a"}
print(type(x))
y=list(x)
print(y)
print(y[1])

<class 'set'>
['e', 'c', 'f', 'a', 'b', 'd']
c

In [9]:
#1.add-->Adds an element to the set
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'orange', 'apple', 'cherry', 'banana'}

In [10]:
#2.clear-->Removes all the elements from the set
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [11]:
#3.copy  -->Returns a copy of the set
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'apple', 'cherry', 'banana'}

In [12]:
#4.difference  -->return a new set. Returns a set containing the difference between two or more sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y) #-->print those elements of x that are not in y
print(z)

{'cherry', 'banana'}

In [13]:
#5.difference update -->return an updated set. Removes the items in this set that are also included in another,specified set
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'cherry', 'banana'}

In [28]:
#6.discard -->Remove the specified item
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

In [15]:
#7.intersection  --> returns a new set,without the unwanted valueReturns a set, that is the intersection of two or more sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [16]:
#8.intersection update -->removes unwanted value from original set
#Removes the items in this set that are not present in other, specified set(s)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [19]:
#9.isdisjoint -->Returns whether two sets have a intersection or not
x = {"apple", "banana", "cherry"}
# y = {"google", "microsoft", "facebook"}
y = {"google", "banana", "facebook"}
z = x.isdisjoint(y)
print(z)

False

In [22]:
#10.issubset  -->Returns whether another set contains this set or not
x = {"a", "b", "i"}
# x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

False

In [23]:
#11.issuperset -->Returns whether this set contains another set or not
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

In [24]:
#12.pop -->Removes an random element from the set
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'cherry', 'banana'}

In [29]:
# This method is different from the remove() method, because the remove() method will raise an error if the specified 
# item does not exist, and the discard() method will no
#13.remove -->Removes the specified element
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [30]:
#14.symmetric difference -->
# Returns a set with the symmetric differences of two sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'cherry', 'banana', 'microsoft', 'google'}

In [31]:
#14.symmetriv difference update-->
# inserts the symmetric differences from this set and another
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'cherry', 'banana', 'microsoft', 'google'}

In [32]:
#15.union-->Return a set containing the union of sets
# x = {"apple", "banana", "cherry"}
# y = {"google", "microsoft", "apple"}
# z = x.union(y)
# print(z)

x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}
result = x.union(y, z)
print(result)

{'e', 'd', 'f', 'a', 'b', 'c'}

In [33]:
#16.update -->Update the set with another set, or any other iterable
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

{'cherry', 'banana', 'microsoft', 'apple', 'google'}

In [34]:
#1.The frozenset() is an inbuilt function in Python which takes an iterable object as input and makes them immutable. 
#.Simply it freezes the iterable objects and makes them unchangeable

#2.frozenset is the same as set except the forzensets are immutable
#  which means that elements from the frozenset cannot be 
# added or removed once created.

#3.Syntax : frozenset(iterable_object_name)
#Parameter : This function accepts iterable object as input parameter.
#Return Type: This function return an equivalent frozenset object

# Python program to understand frozenset() function
 
# tuple of numbers
t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
 
# converting tuple to frozenset
fnum = frozenset(t)
 
# printing details
print("frozenset Object is : ", fnum)



# Python program to understand
# use of frozenset function
 
# creating a list
favsub= ["OS", "DBMS", "Algo"]
 
# making it frozenset type
fsub = frozenset(favsub)
 
# below line will generate error
 
favsub[1] = "Networking"
print(favsub)

# fsub[1]="networking" #-->frozen set does not allow element assignment




# Python program to understand use
# of frozenset function
 
# creating a dictionary
Student = {"name": "Ankit", "age": 21, "sex": "Male",
           "college": "MNNIT Allahabad", "address": "Allahabad"}
 
# making keys of dictionary as frozenset
f= frozenset(Student)
 
# printing keys details
print('The frozen set is:', f)

frozenset Object is :  frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})
['OS', 'Networking', 'Algo']
The frozen set is: frozenset({'address', 'sex', 'name', 'age', 'college'})

In [37]:
a={1,2,45,2,4,"banana",5,4,True,56}
print(a[9])

56