In [1]:
# Python Tuples are like a list. It can hold a sequence of items. 
# The difference is that it is immutabable
# also we cannot
b= 1, 2.0, 'three'
print(type(b))  # tuple packing also declare tuple
print(b)


t=(1,4,6,"a",5)
t1=()  #-->empty tuple
print(t1) 

t2=(1) #--> wrong way to declare tuple with one element
print(t2)

t3=(1,)  #-->tuple with one element
print(t3)

#->once defined a tuple elements cannot be altered or changed
print(type(t))
print(t)

# t[0]=32  #-> throw an error because we can't alter 
           # elements of tuple after creation

<class 'tuple'>
(1, 2.0, 'three')
()
1
(1,)
<class 'tuple'>
(1, 4, 6, 'a', 5)

In [17]:
#1.Adding an element to tuple
# no add or append function in python
t = (1, 2, 3, 4, 5)
# t = t + (7,)
# print (t)

#2.adding two tuples
print ((1, 2, 5, 8) + (2, 9, 4))

# 3.delete tuple
t = (1, 2, 3, 4, 5)
# del(t)
print(t)

#4.slicing
print(t[2:4]) #->index 2 to 3

#5.multiplication
print (t*3)

#6.In
t1= (1, 2, 3, 6, 7, 8)
print(2 in t1)
print(5 in t1)

#7.len
print(len(t1))

#8.compare  --> not working in python 3.x
t1= ((1, 2, 3, 6, 7, 8) > (1, 2, 3, 4, 5, 7))
print(t1)

#9.max and min
t3= (1, 4, 2, 7, 3, 9)
print (max(t3))
print (min(t3))

#10. converting a list into tuple
l= [1, 4, 2, 7, 3, 9]
print(tuple(l))

#11.sorting
g=(1,4,2,6,8,3,9,4,5,7,0,5,6,9,4,8)
print(sorted(g))   #-->sort can be used only in list class

#12. arithmatic sum
print(sum(g))

(1, 2, 5, 8, 2, 9, 4)
(1, 2, 3, 4, 5)
(3, 4)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True
False
6
True
9
1
(1, 4, 2, 7, 3, 9)
[0, 1, 2, 3, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 9]
81

In [11]:
t3= {1, 4, 2, 7, 3, 9}
# print(type(t3))
print (max(t3))
print (min(t3))

<class 'set'>
9
1

In [18]:
t = (1, 2, 3, 4, 5)
t = t + (7,)
print (t[1])

2

In [19]:
''' 1.The zip() function returns a zip object, which is an iterator of tuples 
 where the first item in each passed iterator is paired together, 
then the second item in each passed iterator are paired together
then third item in each passed iterator are paired together and so on'''

a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)
print(x)

''' 2.If the passed iterators have different lengths, the iterator with the 
least items decides the length of the new iterator.'''

c = ("John", "Charles", "Mike")
d = ("Jenny", "Christy", "Monica", "Vicky")

x = zip(d, c)
print(tuple(x))

<zip object at 0x000001E2CB559B00>
(('Jenny', 'John'), ('Christy', 'Charles'), ('Monica', 'Mike'))